{% extends 'base.html.twig' %}

{% block title %}Qualiextra - Home{% endblock %}

{% block body %}
        {% if app.user.isVerified is defined and  app.user.isVerified == 1 %}
            {{dump("ça marche ")}}
        {% endif %}

    <h1 class="text-center text-muted mt-5 ms-5 mb-5"><b>Bienvenue sur la plateforme Qualiextra</b></h1>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6">
            <img src="https://media.adeo.com/marketplace/LMFR/82610888/4fd7336f-0198-46a6-bea3-8f437fa5ed70.jpeg" alt="..." class="img-thumbnail w-50">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Qualiextra</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Qualiextra</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                            occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>

{% endblock %}
