{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1 class="text-center mb-5 mt-5 text-muted"><b>Inscription</b></h1>
        <div class="row">
            <div class="col-6 mx-auto bg-light pe-5 ps-5 pt-5 pb-5 mb-5">
                <p class="mt-2 mb-2 text-center"><a href="{{path('app_registration_benevole')}}" class="btn button_1 mt-2 mb-2">En tant que Benevole</a></p>
                <p class="mt-2 mb-2 text-center"><a href="{{path('app_registration_hotel')}}" class="btn button_1 mt-2 mb-2">En tant qu'hotel</a></p>

            </div>
    </div>

{% endblock %}